extends index.pug

block breadcrumbs
    <a class="breadcrumb" href="/">&larr; home</a>

block content
    <div id="viz" data-js="#{data}">
      <!-- Content created by D3 -->
    </div>

    if controls
        include includes/yearControls.pug

    <pre class="js-data"></pre>
