<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D3ify Explorify</title>
    <link rel="stylesheet" type="text/css" href="./main.css">
  </head>
  <body>
    block breadcrumbs

    <h1 class="title">#{title}</h1>

    block content

    script(src='/main.js')
  </body>
</html>